blockquote, body, button, dd, dl, dt, fieldset, h1, h2, h3, h4, h5, h6, hr, input, lengend, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0
}

body, button, input, select, textarea {
  font: 12px Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif
}

h1 {
  font-size: 36px;
  font-weight: 400;
}

h2 {
  font-size: 28px;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  font-weight: 400;
}

h4, h5, h6 {
  font-size: 18px;
  font-weight: 400;
}

button, input, select, textarea {
  font-size: 100%
}

address, cite, dfn, em, var {
  font-style: normal
}

code, kbd, pre, samp, tt {
  font-family: "Courier New", Courier, monospace
}

small {
  font-size: 12px
}

ol, ul {
  list-style: none
}

a {
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

hr {
  border: none;
  height: 1px
}

html {
  overflow-y: scroll
}
